BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always
BreakBeforeBraces: Attach
SpaceBeforeParens: Never
PointerAlignment: Right
DerivePointerAlignment: false
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
ConstructorInitializerIndentWidth: 4
ColumnLimit: 80
AccessModifierOffset: -4
SpaceAfterTemplateKeyword: false
SpacesInParentheses: false
SortIncludes: false
Language: Cpp