*

!*/
!*.cpp
!*.h
!*.py
!.gitignore
!.clang-format
!*.md
!*.pdf
!*.txt
!*.sh
!*.ps1
!*.jpg
/.idea
/cmake-build-debug
build/
/.vs/
/.vscode/
/out/
!*.yml
!*.yaml
/tests/expanded/
!*.gdb
!LICENSE
__codex_*